.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 230px;
}

.form fieldset {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30px;
}

.form fieldset legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form fieldset label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form input[type="radio"] {
    margin-right: 5px;
}

.form button[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button[type="submit"]:hover {
    background-color: #0056b3;
}